@charset "UTF-8";
.main_body
{
	 display: flex;
    justify-content: center;
    align-items: center; 
}
.logo
{
	position: absolute;
	top: 0;
	left: 0;
	
}
.form
{
	border:1px solid;
	width: 300px;
	
	margin-top:80px;
	box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.4);
	border-radius: 7px;
	padding: 1%;
	padding-left:50px; 
	padding-bottom: 10px;
}
.textfield
{
	width: 250px;
	height: 28px;
	background-color: #d9d9d9;
	border-radius: 10px;
	border: 0px;
}
input[type="submit"]
{
	width: 250px;
	height: 28px;
	background-color: #00c2ff;
	border: 0px;
	border-radius: 10px;	
	color: white;
	letter-spacing: 2px;
	font-weight: 900;	
}
.submit
{
	padding: 20px;
	padding-left: 0px;
}
td option
{
	background-color: white;
}