body
{
	background-color: #eeecec;
}
.form
{
	margin-top:70px;
	background-color: white;
	height: 410px;
	width: 430px;
	padding-left:10px;
	padding-top: 30px;
	margin-left: 200px;
}
h1
{
	text-align: center;
	font-weight: bolder;
}
.form input
{
	height: 30px;
	width: 300px;
	border: 0px;
}

input[type="submit"]
{
	border-radius:8px;
	color: white;
	font-weight:bold;
	margin-top:10px;
	background-color: #fd2363;	
	letter-spacing: 2px;
	font-size: 20px;
	width: 330px;
}
.td-text
{
	height: 35px;
	font-size: 19px;
	text-align:center;
}
input[type="text"]
{
	border-radius: 20px;
	background-color: #ecebeb;	
	height: 40px;
	text-indent: 15px;
	width: 330px;
}
.para
{
	padding-left: 45px;
	color: #8e8686;
	margin-bottom: 20px;
	text-align: center;
}
.image
{
	margin-top:70px;
	height: 200px;
}

.main_body
{
	display: flex;
}

