<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online Medical</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertCustomerServlet</display-name>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <servlet-class>contoller.InsertCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <url-pattern>/InsertCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>contoller.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>contoller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMedicineServlet</display-name>
    <servlet-name>AddMedicineServlet</servlet-name>
    <servlet-class>contoller.AddMedicineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMedicineServlet</servlet-name>
    <url-pattern>/AddMedicineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllMedicineServlet</display-name>
    <servlet-name>ShowAllMedicineServlet</servlet-name>
    <servlet-class>contoller.ShowAllMedicineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllMedicineServlet</servlet-name>
    <url-pattern>/ShowAllMedicineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStockServlet</display-name>
    <servlet-name>CheckStockServlet</servlet-name>
    <servlet-class>contoller.CheckStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStockServlet</servlet-name>
    <url-pattern>/CheckStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMedicineServlet</display-name>
    <servlet-name>RemoveMedicineServlet</servlet-name>
    <servlet-class>contoller.RemoveMedicineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMedicineServlet</servlet-name>
    <url-pattern>/RemoveMedicineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMedicineServlet</display-name>
    <servlet-name>SearchMedicineServlet</servlet-name>
    <servlet-class>contoller.SearchMedicineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMedicineServlet</servlet-name>
    <url-pattern>/SearchMedicineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>contoller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCartServlet</display-name>
    <servlet-name>DisplayCartServlet</servlet-name>
    <servlet-class>contoller.DisplayCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCartServlet</servlet-name>
    <url-pattern>/DisplayCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>contoller.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/OrderNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQtyServlet</display-name>
    <servlet-name>UpdateQtyServlet</servlet-name>
    <servlet-class>contoller.UpdateQtyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQtyServlet</servlet-name>
    <url-pattern>/UpdateQtyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMedicineFromCartServlet</display-name>
    <servlet-name>RemoveMedicineFromCartServlet</servlet-name>
    <servlet-class>contoller.RemoveMedicineFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMedicineFromCartServlet</servlet-name>
    <url-pattern>/RemoveMedicineFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyNowServlet</display-name>
    <servlet-name>BuyNowServlet</servlet-name>
    <servlet-class>contoller.BuyNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyNowServlet</servlet-name>
    <url-pattern>/BuyNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>contoller.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDataInsertionServlet</display-name>
    <servlet-name>OrderDataInsertionServlet</servlet-name>
    <servlet-class>contoller.OrderDataInsertionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDataInsertionServlet</servlet-name>
    <url-pattern>/OrderDataInsertionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderAllServlet</display-name>
    <servlet-name>OrderAllServlet</servlet-name>
    <servlet-class>contoller.OrderAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAllServlet</servlet-name>
    <url-pattern>/OrderAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectBuyNowServlet</display-name>
    <servlet-name>DirectBuyNowServlet</servlet-name>
    <servlet-class>contoller.DirectBuyNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectBuyNowServlet</servlet-name>
    <url-pattern>/DirectBuyNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderWholeCart_SetVerifyValue</display-name>
    <servlet-name>OrderWholeCart_SetVerifyValue</servlet-name>
    <servlet-class>contoller.OrderWholeCart_SetVerifyValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderWholeCart_SetVerifyValue</servlet-name>
    <url-pattern>/OrderWholeCart_SetVerifyValue</url-pattern>
  </servlet-mapping>
</web-app>